/* CHOTKI BOLDI*/
.header {
    display: flex;
    padding: 20px 40px 21px 40px;
    justify-content: space-between;
}
.block2 {
    background-color: #4a3Aff;
    border: 2px solid #4a3Aff;
    border-radius: 22px;
    padding: 10px;
    color: #f9f9f9;
}
.img {
    width: auto;
    height: auto;
}
.aa {
    color: #4a3Aff;
}
.don {
    justify-content: center;
}
.aaa {
    display: flex;
}
.flex {
    display: flex;
    justify-content: space-between;
    border: 2px solid #4a3Aff;
    border-radius: 29px;
    padding: 12px;
}

/*Assalomu alekum ustoz boladimi*/
.block3 {
    border: 2px solid #4a3Aff;
    border-radius: 29px;
    padding: 7px;
}
.block4 {
    border: none;
}